body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
    font-size: 3em;
    color: #f19d45;
    transition: 1s;
}
h1:hover {
    transform: scale(1.4);
    
}
.btn{
border-radius: 100px;
}
.buffer {
    height: 100px;
 }

}
}
.btn-primery:hover {
    border-color: #d9a60c;
    color: black;
}

hr {
    border-color: blue;
    border-width: 3px;
    max-width: 65px;
}
.form-control { 
margin-left: 1100px; }